footer{
    height: 60px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myWeb{
    color: white;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
}
a{
    outline: none;
    color: rgb(255, 216, 20);
        font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
}