header {
    background-color: rgb(19, 25, 33);
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

/* ----------- left side -------------- */

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 2px;
    border: 2px solid transparent;
    width: 130px;
    margin-left: 10px;
}

.amazon-logo {
    width: 100px;
    height: 40px;
    background-image: url(../../Images/amazon-logo-white.png);
    /* notice ../ */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding-left: 20px;
}

.left-side:hover {
    border: 1px solid white;
}

/* ------------ middle side ------------ */
.middle-side {
    display: flex;
    flex: 1;
    align-items: center;
    min-width: 0;
    justify-content: center;
}

.search-bar {
    flex: 1;
    max-width: 810px;
    margin-left: 50px;
    min-width: 0px;
    padding-left: 10px;
    font-size: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 2px solid transparent;
    /* Top border */
    border-left: 2px solid transparent;
    /* Left border */
    border-bottom: 2px solid transparent;
    /* Bottom border */
    border-right: 2px solid transparent;
    /* Right border initially transparent */
    outline: none;
    height: 40px;
}

.search-bar:focus {
    outline: none;
    border-top: 2px solid rgb(254, 189, 105);
    border-left: 2px solid rgb(254, 189, 105);
    border-bottom: 2px solid rgb(254, 189, 105);
    border-right: 2px solid transparent;
    /* right side remains transparent */
}

.searchBtn {
    height: 40px;
    min-width: 46px;
    background-color: rgb(254, 189, 105);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(30, 30, 30);
}

i {
    font-size: 20px;
}

/* ------------ right side -----------*/
.right-side {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    color: white;
    margin-right: 10px;
}

.return-ord {
    padding: 3px 4px;
    border: 1px solid transparent;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    cursor: pointer;
}

.return-ord:hover {
    border: 1px solid white;
}

.add-to-cart {
    padding: 3px 4px;
    border: 1px solid transparent;
    margin-left: 10px;
    display: flex;
    cursor: pointer;
    align-items: end;
}

.return {
    font-family: "Roboto", Arial;
    font-size: 13px;
    text-decoration: none;
    color: white;
}

.add-to-cart:hover {
    border: 1px solid white;
}

.order {
    font-family: "Roboto", Arial;
    font-size: 15px;
    font-weight: 600;
}

.cart-img {
    width: 50px;
    height: 40px;
   background-image: url(../../Images/cart-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cart {
    margin-top: 10px;
    font-family: "Roboto", Arial;
    font-weight: 600;
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-bottom: 6px;
}
.cart:focus{
        text-decoration: none;
    color: white;
}
.num {
    position: absolute;
    top: 9px;
    right: 67px;
    font-family: "Roboto", Arial;
    font-weight: 600;
    color: rgb(240, 136, 4);
    font-size: 18px;
}

@media (max-width: 562px) {
    .left-side {
        padding: 5px 2px;
        border: 2px solid transparent;
        width: 50px;
        margin: 5px 10px;

    }

    .amazon-logo {
        width: 30px;
        height: 30px;
        background-image: url(../../Images/amazon-mobile-logo-white.png);
        display: block;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .right-side>* {
        display: none;
    }

    /* Show only hamburger menu */
    .right-side {
        width: 20px;
        /* adjust size */
        height: 20px;
        margin-left: 20px;
        margin-right: 20px;
        background-image: url(../../Images/hamburger-menu.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: block;
        cursor: pointer;
        /* ensure visible */
    }

    .search-bar {
        margin-left: 0px;
    }

    .hamburger-materail {
        margin-top: 60px;
    }

    .hamburger-return-orders,
    .hamburger-add-to-cart {
        height: 50px;
        background-color: rgb(19, 25, 33);
        color: white;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 1001;
        transition: background-color 0.5s;
    }

    .hamburger-return-orders:hover,
    .hamburger-add-to-cart:hover {
        background-color: rgb(38, 50, 63);
    }

    .hamburger-add-to-cart {
        top: 108px;
    }
}

.hamburger-material {
    opacity: 0;
    max-height: 0;
    /* Start hidden */
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.hamburger-material.show {
    max-height: 200px;
    /* Enough to show content */
    opacity: 1;
}
.right-side a {
    outline: none;
    box-shadow: none;
    text-decoration: none;
    color: white;
}
