* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

main {
    max-width: 905px;
    margin-top: 90px;
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 35px;
    margin-left: auto;
    margin-right: auto;

}

h2 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 28px;
}
.your-orders{
    margin-bottom: 50px;
}
.place-order-info {
    width: 100%;
    max-width: 905px;
    background-color: rgb(240, 242, 242);
    border: 1px solid rgb(213, 217, 217);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.left-side-main {
    display: flex;
    justify-content: space-between;
}

.orders-placed,
.amount {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.orders-placed {
    margin-right: 45px;
}

.products-info {
    width: 100%;
    max-width: 855px;
    height: auto;
    border: 1px solid rgb(213, 217, 217);
    background-color: white;
}

.first-pro-detail {
    padding: 40px;
    padding-left: 30px;
    padding-right: 10px;
}

.first-product {
   display: grid;
    grid-template-columns: 110px 1fr;
    column-gap: 35px;
    align-items: start;

}

.pro {
    width: 100px;
}

.info {
    margin-left: 35px;
}

.buy-pro-again {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 11px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 216, 20);
    box-shadow: 0 2px 5px rgba(163, 165, 165, 0.5);
    font-size: 15px;
}

.buy-pro-again:hover {
    background-color: rgb(233, 197, 19);
}

.buy-pro-again:active {
    background-color: rgb(248, 210, 20);
}

.buy-again {
    width: 25px;
    margin-right: 15px;
    margin-top: 2px;
}

.product-detail {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-bottom: 5px;

}

.get-order {
    font-family: "Roboto";
    margin-bottom: 5px;
}

.track-package {
    height: 35px;
    width: 220px;
    background: white;
    border: 1px solid #D5D9D9;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 50px;
        margin: 0;      /* VERY IMPORTANT */
    width: 220px;
}

.track-package:hover {
    background-color: rgb(247, 251, 253);
}

.track-package:active {
    background-color: rgb(239, 250, 252);
}

.grid {
    border: 1px solid rgb(213, 217, 217);
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: grid;
    grid-template-columns: 110px 1fr 220px;
    column-gap: 35px;
    row-gap: 60px;
    align-items: center;
}

.manage-grid {
     display: grid;
    grid-template-columns: 1fr 220px;
    column-gap: 40px;

}

.order-placed{
    border:1px solid rgb(213, 217, 217);
    border-top: none;
}
@media (max-width: 799px) {
    .manage-grid {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .track-package {
        width: 140px;
        height: 40px;
        margin-left: 35px;
    }

}

@media (max-width: 625px) {
    .amount,.orders-placed,.place-order-id{
        display: flex;
        flex-direction: row;
    }
    .place-order-info,.left-side-main{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .place,.total,.id{
        margin-right: 10px;
        font-family: "Roboto";
        font-weight: 500;
    }
}

@media (max-width: 450px) {
    .first-product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .first-pro-detail{
        padding: 40px;
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        justify-self: center;
        align-items: center;
    }
    .pro{
        width: 150px
    }
    .info{
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .track-package{
        margin: 0px;
    }
    .manage-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
        };   

        .product-detail{
             text-align: center;
        }
}